@use '../../../styles/utils/' as *;

.side {
  height: 100%;
  position: fixed;
  z-index: 2;

  background-color: var(--dark-grey);
  border-right: thin solid var(--lines-dark);

  transform: translateX(0);
  transition: var(--sidebar-transition);

  @include breakpoint-down(medium) {
    transform: translateX(-100%);
  }

  @include breakpoint(medium) {
    min-width: rem(300);
  }
}

.side--hidden {
  @extend .side;
  transform: translateX(-100%);
}
