@use '../../../styles/utils/' as *;

.side {
  //height calculated by remove the header height
  height: calc(100% - rem(95));
  //fixed so boards can pass behind and animation to work
  position: fixed;
  z-index: 3;
  left: 0;
  display: grid;
  grid-template-rows: 1fr auto;

  background-color: var(--dark-grey);
  border-right: thin solid var(--lines-dark);

  transform: translateX(0);
  transition: var(--sidebar-transition);

  @include breakpoint-down(medium) {
    transform: translateX(-100%);
  }

  @include breakpoint(medium) {
    min-width: rem(300);
  }
}

.side--hidden {
  @extend .side;
  transform: translateX(-100%);
}
