@use '../../../styles/utils/' as *;

.side {
  //height calculated by remove the header height
  height: calc(100% - rem(95));
  //fixed so boards can pass behind and animation to work
  position: fixed;
  z-index: 3;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: rem(32);

  background-color: var(--dark-grey);
  border-right: thin solid var(--lines-dark);

  transform: translateX(0);
  transition: var(--sidebar-transition);

  &__hideBtn {
    display: flex;
    gap: rem(16);
    padding: rem(16);
    padding-left: rem(32);
    border: 0;
    background-color: transparent;
    color: var(--medium-grey);
    cursor: pointer;
    transition: var(--generic-transition);

    &:hover,
    &:hover path {
      color: var(--lines-dark);
      fill: var(--lines-dark);
    }
  }

  @include breakpoint-down(medium) {
    transform: translateX(-100%);
  }

  @include breakpoint(medium) {
    min-width: rem(300);
  }
}

.side--hidden {
  @extend .side;
  transform: translateX(-100%);
}
