@use '../../styles/utils/' as *;

.editButton {
  position: relative;
  transition: var(--generic-transition);
  display: flex;
  align-items: center;

  &__dots-container {
    padding: rem(8);
    svg {
      min-width: 5px;
      max-height: 20px;
      path {
        fill: var(--medium-grey);
      }
    }

    cursor: pointer;
    border-radius: 10px;
    &:hover {
      background-color: var(--very-dark-grey);
    }
  }

  &__dropdown-container {
    position: absolute;
    z-index: 3;
    right: 0;
    top: 130%;
    background-color: var(--very-dark-grey);
    width: rem(180);
    display: grid;
    gap: rem(16);
    padding: rem(18);
    border-radius: var(--edit-button-border-radius);
    box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.111);
  }

  &__button {
    width: fit-content;
    border: 0;
    background-color: transparent;
    color: var(--medium-grey);
    padding: rem(8);
    cursor: pointer;
    transition: var(--generic-transition);

    &:hover,
    &:active {
      color: var(--lines-dark);
    }
  }

  &__button:last-child {
    color: var(--warning-color);
    &:hover,
    &:active {
      color: var(--warning-color-hover);
    }
  }
}
