@use '../../../styles/utils/' as *;

.board {
  position: absolute;
  width: inherit;
  height: 100%;
  display: grid;
  gap: rem(16);
  grid-auto-flow: column;
  transform: translateX(rem(300));
  transition: var(--sidebar-transition);

  @include breakpoint-down(medium) {
    transform: translateX(0);
  }

  &__addWrapper {
  }
}

.board--move {
  @extend .board;
  transform: translate(0);
}
