@use '../../../styles/utils/' as *;

.list {
  display: grid;
  grid-auto-columns: 280px;
  grid-auto-flow: column;
  height: 100%;
  gap: rem(16);
  padding-inline: rem(16);
  padding-block: rem(24);

  &__item:last-child {
    height: inherit;
    div > div {
      background-color: transparent;
    }
  }

  &__item {
    height: inherit;
    display: grid;
    grid-template-rows: auto 1fr;
  }

  &__title-container {
    display: flex;
    gap: rem(12);
    align-items: center;
    margin-bottom: rem(16);
  }

  &__color {
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  &__name {
    text-transform: uppercase;
    color: var(--medium-grey);
  }

  &__btn-container {
    background: linear-gradient(var(--dark-grey), var(--very-dark-grey));
    display: grid;
    place-content: center;
    border-radius: var(--form-input);
  }
}
