@use '../../../styles/utils/' as *;

.list {
  height: 100%;
  border-radius: var(--form-input);
  display: grid;
  gap: rem(20);
  grid-auto-rows: minmax(107px, min-content);

  &__item {
    background-color: var(--dark-grey);
    border-radius: var(--form-input);
    padding-block: rem(28);
    padding-inline: rem(17);
    cursor: pointer;

    &:hover {
      filter: brightness(0.85);
      transition: var(--generic-transition);
    }
  }

  &__item--dragging {
    @extend .list__item;
    filter: brightness(0.85);
  }

  &__title {
    margin-bottom: rem(14);
  }

  &__subtitle {
    color: var(--medium-grey);
  }
}

.list--empty {
  @extend .list;
  outline: thin solid var(--lines-dark);
}

.list--droppable {
  @extend .list;
  outline: thin solid var(--lines-dark);
  background: linear-gradient(var(--dark-grey), var(--very-dark-grey));
}
