@use '../../../styles/utils/' as *;

.board {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateX(rem(300));
  transition: var(--sidebar-transition);

  @include breakpoint-down(medium) {
    transform: translateX(0);
  }
}

.board--move {
  @extend .board;
  transform: translate(0);
}
