@use '../../../styles/utils/' as *;

.layout {
  min-height: inherit;
  display: grid;
  grid-template-rows: auto 1fr;

  &__main {
    position: relative;

    overflow: auto !important;
    background-color: var(--very-dark-grey);
    @include customScrollBar;
  }
}
