@use 'breakpoints' as *;

$scrollBarSize: 8px;

@mixin customScrollBar {
  &::-webkit-scrollbar {
    width: $scrollBarSize;
    height: $scrollBarSize;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--lines-dark);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
}

@mixin modalGlobalContainerStyle {
  @include customScrollBar;
  background-color: var(--dark-grey);
  border-radius: var(--form-input);
  width: min(100% - 1rem, 480px);

  max-height: 98vh;
  overflow-y: auto;
  padding-inline: 1.5rem;
  padding-block: 2rem;
}
