@use '../utils/' as *;

.button {
  display: block;
  width: 100%;
  padding-block: rem(16);
  padding-inline: rem(18);
  border: 0;
  border-radius: var(--auth-button);
  color: var(--white);
  text-align: center;
  text-decoration: none;

  cursor: pointer;
  transition: var(--generic-transition);

  &:active {
    transform: scale(0.95);
  }

  &:focus {
    outline: thin solid var(--white);
  }

  &:hover {
    background-color: var(--main-color-hover);
  }
}

.button-addColumn {
  color: var(--medium-grey);
  text-transform: capitalize;
  background-color: unset;

  &:hover {
    color: var(--main-color);
    background-color: unset;
  }
}

.button--auth {
  background-color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

.button--auth-demo {
  background-color: var(--white);
  color: var(--main-color);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;

  &:hover {
    background-color: var(--light-grey);
  }
  &:focus {
    outline: 2px solid var(--main-color);
  }
}

.button--del-icon {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  min-width: 15px;

  &:focus {
    outline: 0;
    g {
      fill: var(--warning-color);
    }
  }

  &:active {
    outline: 0;
  }

  &:hover g {
    fill: var(--warning-color);
  }
}

.button--primary-L {
  font-size: rem(18);
  background-color: var(--main-color);
  // width: fit-content;
  font-weight: 700;

  &:disabled {
    filter: brightness(0.5) saturate(0.4);
    cursor: default;
    transform: unset;
  }

  &:disabled:hover {
    background-color: var(--main-color);
  }
}

.button--primary-S {
  @extend .button--primary-L;
  font-size: rem(13);
}

.button--secondary {
  font-size: rem(13);
  font-weight: 700;
  background-color: var(--white);
  color: var(--main-color);
  text-transform: capitalize;
  transition: var(--generic-transition);

  &:hover {
    background-color: var(--white);
    color: var(--main-color-hover);
  }
}

.button--secondary--delete {
  @extend .button--secondary;
  background-color: var(--warning-color);
  color: var(--white);

  &:hover {
    background-color: var(--warning-color-hover);
    color: var(--white);
  }
}

.button-showSide {
  position: fixed;
  bottom: 50px;
  z-index: 3;
  padding: rem(16);
  padding-left: rem(20);
  background-color: var(--main-color);
  border-top-right-radius: var(--auth-button);
  border-bottom-right-radius: var(--auth-button);
  cursor: pointer;
  transition: var(--generic-transition);

  path {
    fill: var(--white);
  }

  &:hover {
    background-color: var(--main-color-hover);
  }

  @include breakpoint-down(medium) {
    display: none;
  }
}
