:root {
  --black: #000112;
  --very-dark-grey: #20212c;
  --dark-grey: #2b2c37;
  --lines-dark: #50515f;
  --medium-grey: #828fa3;
  --lines-light: #e4ebfa;
  --light-grey: #f4f7fd;
  --white: #ffffff;
  --main-color: #5fc7a8;
  --main-color-hover: #85d3c6;
  --warning-color: #ea5555;
  --warning-color-hover: #ff9898;

  //borders
  --form-input: 5px;
  --auth-button: 25px;
}
