@use '../utils/' as *;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

$font: 'Plus Jakarta Sans', sans-serif;

body {
  font-family: $font;
  color: var(--white);
}

.heading-XXL {
  font-size: rem(28);
  line-height: 1.35;

  @include breakpoint(medium) {
    font-size: rem(40);
  }

  @include breakpoint(large) {
    font-size: rem(60);
  }
}

.heading-XL {
  font-size: rem(24);
  font-weight: 700;

  @include breakpoint(large) {
    font-size: rem(38);
  }
  // line-height: 3;
}

.heading-L {
  font-size: rem(18);
  font-weight: 700;
  @include breakpoint(large) {
    font-size: rem(28);
  }
}

.heading-M {
  font-size: rem(15);
  font-weight: 700;
  @include breakpoint(large) {
    font-size: rem(20);
  }
  // line-height: 1.9;
}

.heading-S {
  font-size: rem(12);
  // line-height: 1.5;
  font-weight: 700;
  letter-spacing: 2.4px;
}

.body-M {
  font-size: rem(12);
  line-height: 1.5;
  font-weight: 700;
}

.body-L-dark {
  font-size: rem(13);
  line-height: 2;
  font-weight: 500;
  color: var(--white);
}

.body-L-dark--error {
  @extend .body-L-dark;
  color: var(--warning-color);
}

input:-webkit-autofill,
input:-webkit-autofill::first-line,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  color: var(--white) !important;
}
