@use '../../../../styles/utils/' as *;

$padding-left: rem(32);
$padding: rem(16);

.boards {
  display: grid;
  color: var(--medium-grey);
  background-color: var(--dark-grey);
  min-width: rem(280);
  border-radius: var(--form-input);
  padding-block: rem(10);

  &__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(10);
  }

  &__edit-btn-container {
    margin-right: rem(15);
  }

  &__title {
    padding: $padding;
    padding-left: $padding-left;
  }

  &__list {
    display: grid;
    //need adjustment
    max-height: calc(100vh - 300px);
    overflow-y: auto;

    @include customScrollBar;
  }

  &__item {
    padding: $padding;
    padding-left: $padding-left;
    display: flex;
    gap: rem(16);
    cursor: pointer;
    max-width: 90%;
    border-top-right-radius: var(--auth-button);
    border-bottom-right-radius: var(--auth-button);
    transition: var(--generic-transition);

    &:hover,
    &:hover path {
      background-color: var(--white);
      color: var(--main-color);
      fill: var(--main-color);
    }
  }

  &__item--active {
    @extend .boards__item;

    background-color: var(--main-color);
    color: var(--white);
    path {
      fill: var(--white);
    }

    &:hover,
    &:hover path {
      background-color: var(--main-color-hover);
      color: var(--white);
      fill: var(--white);
    }
  }

  &__addNewBtn {
    padding: $padding;
    padding-left: $padding-left;
    border: 0;
    background-color: transparent;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    gap: rem(16);
    cursor: pointer;
    width: fit-content;
    transition: var(--generic-transition);

    path {
      fill: var(--main-color);
    }
    &:hover,
    &:hover path {
      color: var(--main-color-hover);
      fill: var(--main-color-hover);
    }
  }
}
