@use '../../../styles/utils/' as *;

$labelListBtnGap: rem(14);
$inputPadding: rem(12);

.modal {
  @include modalGlobalContainerStyle;

  &__title-container {
    display: flex;
    align-items: center;
    margin-bottom: rem(30);
    justify-content: space-between;
  }

  &__form {
    display: grid;
    gap: rem(24);
  }

  &__controller {
    display: grid;
    position: relative;
    gap: $labelListBtnGap;
  }

  &__input {
    width: 100%;
    border: 0;
    outline: thin solid var(--lines-dark);
    background-color: transparent;
    padding: $inputPadding;
    border-radius: var(--form-input);

    &:focus {
      outline-color: var(--main-color);
    }
  }

  &__input--error {
    @extend .modal__input;
    outline-color: var(--warning-color);

    &:focus {
      outline-color: var(--warning-color);
    }
  }

  &__textarea {
    @extend .modal__input;
    resize: none;
    @include customScrollBar;
  }

  &__error-container {
    position: absolute;
    //depend the input padding
    bottom: $inputPadding;
    right: $inputPadding;
  }

  &__list-section {
    display: grid;
    gap: $labelListBtnGap;
  }

  &__list-container {
    display: grid;
    gap: $labelListBtnGap;
  }

  &__list-item {
    display: flex;
    gap: rem(16);
  }

  &__list-item-controller {
    position: relative;
    flex: 1;
  }

  &__list-item-input {
    @extend .modal__input;
  }

  &__list-item-input--error {
    @extend .modal__input--error;
  }

  &__list-item-error-container {
    position: absolute;
    right: $inputPadding;
    top: 50%;
    transform: translateY(-50%);
  }

  &__dropdown-container {
    position: relative;
  }

  &__arrowUp {
    transform: rotate(180deg);
    transition: var(--generic-transition);
    path {
      stroke: var(--main-color);
    }
  }

  &__arrowDown {
    transition: var(--generic-transition);
    transform: rotate(0);
    path {
      stroke: var(--main-color);
    }
  }

  &__select-input {
    @extend .modal__input;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:focus {
      outline-color: var(--main-color);
    }
  }

  &__select-list {
    position: absolute;
    top: calc(100% + $labelListBtnGap);
    width: 100%;
    background-color: var(--very-dark-grey);
    padding-block: rem(24);
    border-radius: var(--form-input);
  }

  &__option {
    padding-inline: rem(16);
    padding-block: rem(16);
    color: var(--medium-grey);
    cursor: pointer;
    transition: var(--generic-transition);

    &:hover {
      background-color: var(--dark-grey);
      color: var(--white);
    }
  }
}
